@font-face {
    font-family: 'title-font';
    src: url('fonts/Baltiholm-lg2n0.ttf') format('truetype');
}

body{
    /* background-color: red; */
    margin: 0px;
    color: white;
    padding: 0px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: absolute;
    z-index: 0;
    width: 100%;
}

.banner-bg{
    position: relative;
    /* backdrop-filter: blur(10px); */
    /* background-color: black; */
    background-color: #252525;
    /* backdrop-filter: blur(20px); */
    height: 90vh;
    z-index: -2;
    overflow: hidden;
    /* align-items: center; */
    /* overflow: auto; */
}

.bg-image{
    /* margin: 0 auto; */
    /* align-items: center; */
    position: absolute;
    z-index: -1;
    overflow:hidden;
    height: 100%;
    scale: 1.5;
    /* backdrop-filter: blur(20px); */
}

.bg-gradient{
    height: 30vh;
    width: 40vh;
    position: absolute;
    z-index: -1;
    overflow:hidden;
}


#gradient-top{
    height: 80%;
    width: 50%;
    top:-10%;
    left: -15%;
    border-radius: 70% 30% 30% 70%/ 60% 40% 60% 40%;
    -webkit-border-radius: 70% 30% 30% 70%/ 60% 40% 60% 40%;
    -moz-border-radius: 70% 30% 30% 70%/ 60% 40% 60% 40%;
    -ms-border-radius: 70% 30% 30% 70%/ 60% 40% 60% 40%;
    -o-border-radius: 70% 30% 30% 70%/ 60% 40% 60% 40%;
    -webkit-border-radius: 30% 50% 20% 40%/ 30% 40% 60% 60%;
    background-image: radial-gradient(circle, #e12d48, #d82a56, #c6446f, #ba4576, #ad467b, #9d4577, #72277f, #7f426c, #6b3d5d, #58384e, #453240, #332c31);
    animation: rotation 25s infinite linear;
    -webkit-animation: rotation 25s infinite linear;
}
@keyframes rotation{
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    } to{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    }
}

#gradient-bottom{
    height: 70%;
    width: 50%;
    top: 50%;
    left: 70%;
    background-image: radial-gradient(circle, #cd5066, #cb576d, #c95e74, #c7657a, #c46b80, #be6d82, #b86e83, #b27084, #a86e82, #f6c3d7, #94697b, #8a6677);
    border-radius: 70% 50% 60% 70%/ 60% 60% 60% 70%;
    -webkit-border-radius: 70% 50% 60% 70%/ 60% 60% 60% 70%;
    -moz-border-radius: 70% 50% 60% 70%/ 60% 60% 60% 70%;
    -ms-border-radius: 70% 50% 60% 70%/ 60% 60% 60% 70%;
    -o-border-radius: 70% 50% 60% 70%/ 60% 60% 60% 70%;
    -webkit-border-radius: 30% 50% 20% 40%/ 30% 40% 60% 60%;
    animation: antiClock-rotation 25s infinite linear;
    -webkit-animation: antiClock-rotation 25s infinite linear;
}


@keyframes antiClock-rotation{
    from {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
} to{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
}

.banner-content{
    backdrop-filter: blur(90px);
    height: 100%;
    position: absolute;
    z-index: 10;
}

.banner{
    height: 90%;
    width: 80vw;
    margin: 5vw 10vw;
    display: flex;
    justify-content: space-between;
}

.navbar-container{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content:space-evenly;
    /* align-items: center; */
}

.navbar-branding-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-links-container{
    display:flex;
    justify-content: center;
    align-items: center;

    .navbar-links-div{
        display: flex;
        gap: 2rem;

        .navbar-link{
            display:flex;
            align-items:center;
            justify-content: center;
            font-size: 1.5rem;
            font-weight: 250;
            height: 40px;
            width: 100px;
        }
    }
}
.navbar-social-links{
    display:flex;
    justify-content: center;
    align-items: center;

    .social-links-container{
        display: flex;

        .social-link{
            /* flex: 2; */
            width: 60px;
            font-size: 1.7rem;
            display:flex;
            justify-content: center;
            align-items: center;
        }
    };
}


.color-information{
    background-color: #171717;
    padding: 5vh 10vw;

}

.colour-list{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(10, 1fr);
    /* grid-template-rows: ; */
    .hex_codes{
        /*box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
        */box-shadow: rgba(255, 255, 255, 0.5) 0px 4px 8px -2px, rgba(255, 255, 255, 0.3) 0px 0px 0px 1px;
        /*box-shadow: rgba(255, 255, 255, 0.5) 5px 5px 10px;
        *//*box-shadow: rgb(255, 255, 255) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) 10px 10px -10px 10px inset;
        *//*box-shadow: rgba(255, 255, 255, 0.25) 0px 25px 50px -12px;
        *//*box-shadow: rgba(255, 255,255, 0.35) 0px 5px 15px;
        *//*box-shadow: ;
        *//*box-sizing: border-box;
        *//*border: 5px solid white;
        */border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        /*padding: 20%;
        */
        .hex_codes_container
            {
            width: 65%;
            display: flex;
            justify-content: space-between;
        }
        transition: transform 0.2s ease-in-out;
        -webkit-transition: transform 0.2s ease-in-out;
        -moz-transition: transform 0.2s ease-in-out;
        -ms-transition: transform 0.2s ease-in-out;
        -o-transition: transform 0.2s ease-in-out;
    }
}

.hex_codes:hover {
    transform: scale(1.1);
    /*transition-duration: 0.3s;
    *//*transition-timing-function: ease-in-out;
    */-webkit-transform: scale(1.2);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    /* background: ; */
}

.banner-intro-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .banner-text-container{
        .text-title{
            font-size: 3.5rem;
            #title-name{
                display: flex;
                justify-content: end;
                align-items: flex-end;
                height: 90px;
                span{
                    /* font-style: italic; */
                    /* font-family: 'Comic Sans MS', 'Brush Script MT', 'Lucida Handwriting', cursive; */
                    /* font-family: 'Times New Roman', Georgia, Garamond, 'Palatino Linotype', serif; */
                    /* font-style: italic; */
                    /* font-size: 20px; */
                    font-family: 'title-font';
                    font-size: 5rem;
                    font-weight: 500;
                    position:absolute;
                    top: 29%;
                    left:20%;

                }
            }
        }
        .text-heading{
            font-size: 2.5rem;
            font-weight: 400;
        }
    }
    .banner-button-container{
        .text-subheading{
            font-size: 1.2rem;
            opacity: 80%;
            margin-bottom: 1rem;
        }
    }
}


.banner-button{
    height: 70px;
    width: 250px;
    /* position: absolute; */
    /* z-index: 10; */
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 500;
    background-image: linear-gradient(to right top, #fd2d62, #f72b57, #f12a4d, #ea2a43, #e32a39);
    box-shadow: 7px 7px 15px #332c317c;
}

.banner-button:hover {
    box-shadow: 0px 0px;
    cursor: pointer;
}

.image{
    width: 50vw;
    display:flex;
    justify-content: center;
    align-items: center;
/* ,make this div flex and centre the img ta inside it */
    img{
        height:50vh;
        box-shadow: 5px 5px 40px #332c31;
    }
}

.modal-bg{
    backdrop-filter: blur(20px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0px;
    left: 0px;
    z-index:45;
}

.close-btn-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem 0rem 0rem;
    text-align: right;
}

#close-btn:hover {
    cursor: pointer;
}

.form-modal {
    display:none;
    position: fixed;
    left: 35%;
    top:10%;
    z-index: 50;
    padding: 1rem;
    background-color: #252525;
    height: 35vh;
    width: 30vw;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

/* .form-container {
   height: 100%;
    width: 100%;
    border: 2px solid #776c74b9;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
} */

#image-icon{
    font-size: 5rem;
}

#label {
    margin-bottom: 1rem;
}

/* modal styles */

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed #ccc;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.drop-zone {
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
}

.submit-container{
    flex: 1;
}

.submit-container{
    /* height: 1rem; */
    width: 30%;

    #submit{
        height: 70%;
        width: 100%;
    }
}

.drop-zone.dragover {
    background-color: #e0e7ff;
}

#file-input {
    display: none;
}

#file-browser {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.form-label-input{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}