{% extends 'base.html' %}

{% block title %}ShadeSnatch {% endblock %}

{% block content %}

<section class="form">
    <form action="image-upload" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label for="">Upload any image</label>
            <input type="file" name="image" >
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</section>

{% if output %}
<section id="image-display">
    {% load static %}
    <img src="{{ output.image_path }}" alt="Your image"  width="500px">
</section>


<section id="colour-list">
    {% for color in output.hexcodes %}
        <div class="hex_codes">{{color}}</div>
    {% endfor %}
</section>
{% endif %}


{% if output %}
<script>
    var colorDiv = document.getElementsByClassName('hex_codes');
    for(var i=0; i<colorDiv.length; i++){

        colorDiv[i].style.height='50px';
        colorDiv[i].style.width='50px';
        var color= colorDiv[i].textContent.trim();
        colorDiv[i].style.backgroundColor= color;

    }
</script>
{% endif %}

{% endblock %}