{% extends 'base.html' %}

{% block title %}ShadeSnatch {% endblock %}

{% block content %}

        <div class="banner">
            <!-- banner intro and form button -->
            <div class="banner-intro-container">
                <div class="banner-text-container">
                    <div class="text-title">
                        <div>Welcome to</div>
                        <div id="title-name">
                            <span>ShadeSnatch</span>
                        </div>
                    </div>
                    <div class="text-heading">Uncover Colors.</div>
                    <div class="text-heading">Create Magic.</div>
                </div>
                <div class="banner-button-container">
                    <div class="text-subheading">Discover the palette in every picture by <br>uploading your image!</div>
                    <button class="banner-button" id="button">Upload Your Image</button>
                </div>
            </div>
            <!-- banner image -->
            <div class="image-container">
                <div class="image" id="image">
                    {% load static %}
                    <img src="{{ output.image_path }}" alt="Your image">
                </div>
            </div>

        </div>
    </div>
</section>

<div class="" id="modal-bg">
    <div class="form-modal" id="form-modal">
        <form action='' method="POST" enctype="multipart/form-data" id="image-upload-form" class="form-box">
            {% csrf_token %}
            <div class="close-btn-container">
                <i class="fa-solid fa-xmark" id="close-btn"></i>
            </div>
            <div id="drop-zone" class="drop-zone">
                <div>
                    <i class="fa-regular fa-image" id="image-icon"></i>
                </div>
                <div class="form-label-input">
                    <label for="" id="label">Upload any image</label>
                    <input type="file" name="image" >
                </div>
            </div>
            <div class="submit-container">
                <button id="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
    {% if output %}
<section class="color-information">
    <div class="color-info-heading">
        <div class="color-info-title">Total Extracted Colours: {{ output.total_colors }}</div>
        <div class="color-info-subtitle">Here are the 20 dominant colors we found in your image.</div>
    </div>

    <div class="colour-list" id="colour-list">
        {% for color in output.hexcodes %}
        <div class="colour-container">
            <div class="hex_codes"></div>
            <div class="hex_codes_container">
                <div class="hex" >{{color}}</div>
                <div><i class="fa-regular fa-copy copy-btn" id="copy-btn"></i></div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}


{% if output %}

<div id="toast-container">
</div>

<script src="https://kit.fontawesome.com/your-font-awesome-kit.js"></script>
<script>

    // selectors
    var modalBg= document.getElementById('modal-bg');
    var modal= document.getElementById('form-modal');
    var colorDiv = document.getElementsByClassName('hex_codes');
    var hexCodes= document.getElementsByClassName('hex');
    var toastContainer = document.getElementById('toast-container');
    var btn= document.getElementById('button');

    let timeout = null;

    // event handlers

    for(var i=0; i<colorDiv.length; i++){

        colorDiv[i].style.height='140px';
        var color= hexCodes[i].textContent.trim();
        colorDiv[i].style.backgroundColor= color;
    }

    var copyBtn= document.getElementsByClassName('copy-btn')

    for(let i=0; i<copyBtn.length; i++){
        copyBtn[i].addEventListener('click', function(){
            var content= hexCodes[i].innerText;

            navigator.clipboard.writeText(content)
            createToast();
        })
    }

    function createToast(){
        const newToast = document.createElement("div")
        newToast.classList.add('toast');
        newToast.innerHTML = '<h3><i class="fa-solid fa-circle-check tick"></i>  Copied Successfully!</h3>';
        toastContainer.appendChild(newToast);
        newToast.animate([{scale: 0.5, opacity: 0, bottom: "-10px"}], {
            delay: 3800, duration: 200, fill: "forwards"
        })
        setTimeout(() => {
            document.removeChild(newToast);
        }, 4000)
    }

    btn.addEventListener('click', openmodal)

    var closeBtn= document.getElementById('close-btn')
    closeBtn.addEventListener('click',closeModal)

    function closeModal(){
            modal.animate([
                { transform: 'translateY(0)' },
                { transform: 'translateY(-50vh)' }
            ], {
                duration: 300,
                easing: 'linear',
            });
            setTimeout(() => {
                modal.style.display="none";
                modalBg.classList.remove('modal-bg');
                form.reset();

            }, 300)
        }

    function openmodal(){
        modal.animate([
            { transform: 'translateY(-50vh)' },
            { transform: 'translateY(0) '}
        ],{
            duration: 300,
            easing: 'linear',
        });
        setTimeout(()=>{
            modal.style.display= "block";
            modalBg.classList.add('modal-bg');
        }, 50)
    }


</script>
{% endif %}

{% endblock %}